.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.game {
  flex-shrink: 0;
  border: 2px solid black;
  height: 96vh;
  width: 96vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr); /* Create equal-width columns */
  grid-template-rows: repeat(30, 1fr); /* Create equal-height rows */
}
.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.error {
  color: crimson;
  font-weight: bold;
  margin-top: 15px;
}
.side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.form {
  margin: 15px;
}
input {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  width: 50px;
  text-align: center;
}
button {
  margin-top: 20px;
}
.options-and-scores {
  text-align: center;
}
#score-moves, #score-apples {
  font-weight: bold;
  font-size: 2em;
  color: black;
}
.head {
  background-image: url("./assets/snake-head.png");
  background-size: cover;
}
.rotate {
  transform: rotate(90deg);
}
.rotate-twice {
  transform: rotate(180deg);
}
.rotate-thrice {
  transform: rotate(270deg);
}
.apple {
  background-image: url("./assets/apple.png");
  background-size: cover;
}
.body-straight {
  background-image: url("./assets/body-straight.png");
  background-size: cover;
}
.body-end {
  background-image: url("./assets/body-end.png");
  background-size: cover;
}
.body-turn {
  background-image: url("./assets/body-turn.png");
  background-size: cover;
}
@keyframes dying {
  0% {opacity: 0;}
  25% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
.ending {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  background-image: url("./assets/you_died.gif");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation-name: dying;
  animation-duration: 9s;
}