.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.game {
  border: 2px solid black;
  height: 96vh;
  width: 96vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr); /* Create equal-width columns */
  grid-template-rows: repeat(30, 1fr); /* Create equal-height rows */
}
.head {
  background-image: url("./assets/snake-head.png");
  background-size: cover;
}
.rotate {
  transform: rotate(90deg);
}
.rotate-twice {
  transform: rotate(180deg);
}
.rotate-thrice {
  transform: rotate(270deg);
}
.apple {
  background-image: url("./assets/apple.png");
  background-size: cover;
}
.body-middle {
  background-image: url("./assets/body-straight.png");
  background-size: cover;
}
.body-end {
  background-image: url("./assets/body-end.png");
  background-size: cover;
}